<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset = "utf-8" />
</head>

<body>
    <form method = "POST" action = "/post_patient_data">
        <ul style="list-style-type:none">
            <li><label>radius_mean</label></li>
            <input id = "radius_mean" name = "radius_mean" type = "float" />
            <li><label>texture_mean</label></li>
            <input id = "texture_mean" name = "texture_mean" type = "float" /> 
            <input type = "submit" />  
        </ul>                 
    </form>

    <!-- {% for patient in myPatient %}
        <li>{{ patient.id, patient.radius_mean , patient.texture_mean }}</li>
    {% endfor %} -->
</body>
</html>