<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset = "utf-8" />
</head>

<body>
    <form method = "POST" action = "/post_patient_data">
        <ul style="list-style-type:none">
          
            <li><label>radius_worst</label></li>
            <input id = "radius_worst" name = "radius_worst" type = "float" />
         
            <li><label>concave_points_worst</label></li>
            <input id = "concave_points_worst" name = "concave_points_worst" type = "float" />
         
            <li><label>area_worst</label></li>
            <input id = "area_worst" name = "area_worst" type = "float" />                        
         
            <li><label>perimeter_worst</label></li>
            <input id = "perimeter_worst" name = "perimeter_worst" type = "float" /> 
         
            <input type = "submit" />  
        </ul>                 
    </form>

    <!-- {% for patient in myPatient %}
        <li>{{ patient.id, patient.radius_mean , patient.texture_mean }}</li>
    {% endfor %} -->
</body>
</html>