<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Health medical template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/styles/bootstrap4/bootstrap.min.css">
<link href="static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="static/styles/contact.css">
<link rel="stylesheet" type="text/css" href="static/styles/elements.css">
<link rel="stylesheet" type="text/css" href="static/styles/contact_responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Menu -->

	<div class="menu trans_500">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="menu_close_container"><div class="menu_close"></div></div>
			<form action="#" class="menu_search_form">
				<input type="text" class="menu_search_input" placeholder="Search" required="required">
				<button class="menu_search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
			<ul>
					<li><a href="/" style="font-size:20px; font-weight: bolder;">Home</a></li>
					<li class="active"><a href="/predictor" style="font-size:20px; font-weight: bolder;">Predictor</a></li>
					<li><a href="/visuals" style="font-size:20px; font-weight: bolder;">Visuals</a></li>														
					<li><a href="/facts" style="font-size:20px; font-weight: bolder;">Facts</a></li>
					<li><a href="/funding" style="font-size:20px; font-weight: bolder;">Funding</a></li>
					<li><a href="/see_data" style="font-size:20px; font-weight: bolder;">Dataset</a></li>					
			</ul>
		</div>
	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/contact.jpg" data-speed="0.8"></div>

		<!-- Header -->

		<header class="header" id="header">
			<div>
				<div class="header_top">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
										<div class="logo">
												<a href="/">Save the Owls</a>	
												<p>Breast Cancer Tumor Diagnosis</p>
											</div>
									<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul class="d-flex flex-row align-items-center justify-content-start">
														<li class="active"><a href="/" style="font-size:20px; font-weight: bolder;">Home</a></li>
														<li><a href="/predictor" style="font-size:20px; font-weight: bolder;">Predictor</a></li>
														<li><a href="/visuals" style="font-size:20px; font-weight: bolder;">Visuals</a></li>														
														<li><a href="/facts" style="font-size:20px; font-weight: bolder;">Facts</a></li>
														<li><a href="/funding" style="font-size:20px; font-weight: bolder;">Funding</a></li>
														<li><a href="/see_data" style="font-size:20px; font-weight: bolder;">Dataset</a></li>														
												</ul>
											</nav>
											<!-- <div class="search_content d-flex flex-row align-items-center justify-content-end ml-auto">
												<form action="#" id="search_container_form" class="search_container_form">
													<input type="text" class="search_container_input" placeholder="Search" required="required">
													<button class="search_container_button"><i class="fa fa-search" aria-hidden="true"></i></button>
												</form>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</header>

		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Predictor</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    	<!-- About -->

	<div class="about">
            <div class="container">
                <div class="row about_row row-eq-height">
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="#">About our Model</a>	
                        </div>
                        <div class="about_text">
                            <p>Only four user inputs from the largest tumor nucleus are required for our tumor diagnosis model. These inputs can be prepared by imaging a microscope slide containing fluid drawn via FNA from a breast tumor. One software tool that is recommended for analysis is ImageJ.</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="about_image"><img src="static/images/bcancer.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>





        <div class="elements_tabs">
                <div class="elements_title">Variable Information</div>
                <div class="tabs_content">
                    <div class="row">
                        <div class="col-lg-5">

                            <!-- Tabs -->
                            <div class="tabs d-flex flex-row align-items-center justify-content-start flex-wrap">
                                <div class="tab active">
                                    <div class="tab_title">Radius</div>
                                    <!-- <div class="tab_text">Lorem ipsum dolor sit amet, consectetur adipis voelta.</div> -->
                                </div>
                                <div class="tab">
                                    <div class="tab_title">Concave Points</div>
                                    <!-- <div class="tab_text">Lorem ipsum dolor sit amet, consectetur adipis voelta.</div> -->
                                </div>
                                <div class="tab">
                                    <div class="tab_title">Area</div>
                                    <!-- <div class="tab_text">Lorem ipsum dolor sit amet, consectetur adipis voelta.</div> -->
                                </div>
                                <div class="tab">
                                    <div class="tab_title">Perimeter</div>
                                    <!-- <div class="tab_text">Lorem ipsum dolor sit amet, consectetur adipis voelta.</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">

                            <!-- Panels -->
                            <div class="tab_panels">

                                <!-- Panel -->
                                <div class="tab_panel active">
                                    <div class="tab_panel_content">
                                        <div class="tab_list">
                                            <ul>
                                                <li>
                                                    <div class="tab_list_title">The radius of an individual nucleus is measured by averaging the length of the radial line segments
                                                        defined by the centroid of the nucleus.</div>
                                                    
                                                </li>
                                                <li>
                                                    <div class="tab_list_title">Determine the center of the largest tumor nucleus and draw radial segments from there.</div>
                                                    <!-- <div class="tab_list_text"><p>Donec malesuada lorem maximus mauris scele risque, at rutrum nulla dictum.</p></div> -->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Panel -->
                                <div class="tab_panel active">
                                    <div class="tab_panel_content">
                                        <div class="tab_list">
                                            <ul>
                                                <li>
                                                    <div class="tab_list_title">In order to capture shape information we measure the number of concavities
                                                        or indentations in a cell nucleus.</div>
                                                    
                                                </li>
                                                <li>
                                                    <div class="tab_list_title">Draw chords around the largest tumor nucleus and if any chords exist outside of the nucleus, it is a concave point.</div>         
                                                    <!-- <div class="tab_list_text"><p>Donec malesuada lorem maximus mauris scele risque, at rutrum nulla dictum.</p></div> -->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Panel -->
                                <div class="tab_panel active">
                                    <div class="tab_panel_content">
                                        <div class="tab_list">
                                            <ul>
                                                <li>
                                                    <div class="tab_list_title">Nuclear area is measured simply by counting the number of pixels on the interior of the largest nucleus.</div>
                                                    
                                                </li>
                                                <li>
                                                    <div class="tab_list_title">This can be done by drawing a rough outline of the tumor nucleus and calculating the number of pixels within.</div>
                                                    <!-- <div class="tab_list_text"><p>Donec malesuada lorem maximus mauris scele risque, at rutrum nulla dictum.</p></div> -->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Panel -->
                                <div class="tab_panel active">
                                    <div class="tab_panel_content">
                                        <div class="tab_list">
                                            <ul>
                                                <li>
                                                    <div class="tab_list_title">The total distance of the largest nuclear perimeter.</div>
                                                    
                                                </li>
                                                <li>
                                                    <div class="tab_list_title">By drawing chords around the nucleus you get this measurement.</div>
                                                    <!-- <div class="tab_list_text"><p>Donec malesuada lorem maximus mauris scele risque, at rutrum nulla dictum.</p></div> -->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>

    

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Contact form -->
				<div class="col-lg-4 contact_col">
					<div class="contact_form">
						<div class="contact_title">Prediction Input</div>
						<div class="contact_form_container">
							<form method = "POST" action="/predict" id="contact_form" class="contact_form">
								<input type="text" id="radius_worst" class="contact_input" name = "radius_worst" placeholder="Radius" required="required">
								<input type="text" id="concave_points_worst" class="contact_input" name = "concave_points_worst" placeholder="Number of Concave Points" required="required">
                                <input type="text" id="area_worst" class="contact_input" name = "area_worst" placeholder="Area" required="required">
                                <input type="text" id="perimeter_worst" class="contact_input" name = "perimeter_worst" placeholder="Perimeter" required="required">
								<button class="contact_button" id="contact_button">Get Diagnosis</button>
							</form>
						</div>
					</div>
                </div>
				<div class="col-lg-4 contact_col">
					<div class="contact_form">
						<div class="image"><img src="static/images/nuclei.jpg" alt=""></div>
						</div>
					</div>
                </div>

			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="static/images/footer.jpg" data-speed="0.8"></div>
		<div class="footer_content">
			<div class="container">
				<div class="row">

					<!-- Footer About -->
					<div class="col-lg-3 footer_col">
						<div class="footer_about">

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
							<nav class="footer_nav">
								<ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
										<li class="active"><a href="/">Home</a></li>
										<li><a href="/predictor">Predictor</a></li>											
										<li><a href="/visuals">Visuals</a></li>
										<li><a href="/facts">Facts</a></li>
										<li><a href="/funding">Funding</a></li>
										<li><a href="/see_data">Dataset</a></li>											
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/styles/bootstrap4/popper.js"></script>
<script src="static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="static/plugins/easing/easing.js"></script>
<script src="static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="static/js/contact.js"></script>
<script src="static/plugins/greensock/TweenMax.min.js"></script>
<script src="static/plugins/greensock/TimelineMax.min.js"></script>
<script src="static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="static/plugins/greensock/animation.gsap.min.js"></script>
<script src="static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="static/plugins/progressbar/progressbar.min.js"></script>
<script src="static/js/elements.js"></script>
</body>
</html>